<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
<title>Meme Editor</title>

<base href="./resources" />

<link rel="stylesheet" href="dist/main.min.css">
<link rel="stylesheet" href="main.css">

<% if (platform == 'win32') { %>
<link rel="stylesheet" href="ui/css/noto-color-emoji/style.css">
<% } %>

<script src="dist/utils-base.min.js"></script>
<script src="dist/core.min.js"></script>
<!-- <script src="dist/human.js"></script> -->

<script src="dist/tfjs.js"></script>
<script src="dist/body-pix.js"></script>
<script src="dist/body-segmentation.js"></script>
<!-- <script src="dist/selfie-segmentation.js"></script> -->

</head>
<body mode="electron">

<%- include('help.html') %> 
<%- include('titlebar.html') %> 

<%- include('editor', { production: false }) %> 

<script>

function showHelp() {
	const e = document.getElementById('modal-dialog');

	e.style.display = "block";
}

</script>

<script src="renderer.js"></script>

</body>
</html>
