<div class="column hidden" tab="background" id="background" >
	<div class="row ci">
		<h2 class="wm8 inconsolata fit">Canvas</h2>
		<button name="align" class="icon fa fa-image w3-text-blue" title="Align images" onclick="app.alignImages()"></button>
		<button name="fit" class="icon fa expand" title="Fit canvas"></button>
	</div>

	<div class="properties cc">
		
		<div class="cc">
			<span class="row">
				<b class="fit">x</b>
				<input id="object-x" type="number">
			</span>
			<span class="row">
				<b class="fit">y</b>
				<input id="object-y" type="number">
			</span>
			<span class="row">
				<b class="fit">width</b>
				<input id="object-width" type="number">
			</span>
			<span class="row">
				<b class="fit">height</b>
				<input id="object-height" type="number">
			</span>
			
			<span class="row">
				<b class="fit">fill</b>
				<!-- <input for="object-fill" class="checkbox w3-margin-right" type="checkbox" checked onchange="this.nextElementSibling.disabled=!this.checked"> -->
				<input id="object-fill" type="color">
			</span>

		</div>
	</div>
</div>
