<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>Meme Editor</title>

<link rel="stylesheet" href="dist/main.min.css">
<link rel="stylesheet" href="main.css">

<script src="dist/utils-base.min.js"></script>
<script src="dist/core.min.js"></script>


</head>
<body>
<!-- <h1>Hello World!</h1> -->
<h1 class="w3-margin-left wm8">Meme Editor</h1>

<%- include('editor', { production }) %> 

</body>
</html>
