<div class="cr ci smaller">
	<button class="icon tab fit selected" tab="properties" onclick="dom.switchTab(this)">
		<i class="fa fa-cog"></i>
	</button>
	<button class="icon tab fit" tab="objects" onclick="dom.switchTab(this)">
		<i class="fa fa-object-ungroup"></i>
	</button>
	<button class="icon tab fit" tab="background" onclick="dom.switchTab(this)">
		<i class="fa fa-square"></i>
	</button>
	<button class="icon tab fit" tab="images" onclick="dom.switchTab(this);app.loadImages()">
		<i class="fa fa-image"></i>
	</button>
	<button class="icon tab fit" tab="projects" onclick="dom.switchTab(this);app.loadProjects()">
		<i class="fa fa-list-check"></i>
	</button>
</div>