<div id="titlebar" class="cr ci dark">
	<div class="cr ci fit" style="-webkit-app-region: drag;-webkit-user-select: none;">
		<div class="app-icon app-logo"></div>
		<b class="fit">Meme Editor</b>
		<span class="raleway">ver. 1.0.9</span>
	</div>
	<button class="button icon fa fa-question-circle" title="Help" onclick="showHelp()"></button>
	<!-- <button class="button icon fa fa-window-minimize" title="Minimize"></button> -->
	<button class="button icon fa fa-xmark" title="Close" id="closeApp" display="electron"></button>
</div>
