<div id="tools" class="tools w3-card-2 w3-margin w3-padding-small cc selected" style="width: 30px;">
	<button name="select" class="icon fa fa-arrow-pointer" disabled title="Select (s)" selectable></button>
	<button name="edit" class="icon fa sm fa-circle-nodes w3-text-green" title="Edit path (e)" selectable></button>
	<button name="draw" class="icon fa sm fa-bezier-curve w3-text-indigo" title="Bezier curve (d)" selectable></button>
	<i class="vs"></i>
	<button name="rect" class="icon fa fa-square w3-text-orange" title="Rectangle (r)"></button>
	<button name="circle" class="icon fa fa-circle w3-text-red" title="Circle (c)"></button>
	<!-- <button name="chart" class="icon fa fa-chart-column w3-text-green" title="Chart (h)"></button> -->
	<button name="text" class="icon fa sm fa-t w3-text-black" title="Text (t)"></button>
	<button name="arrow" class="icon fa fa-arrow-right-arrow-left w3-text-purple" title="Arrow (a)"></button>
	<button name="bubble" class="icon fa fa-message w3-text-blue" title="Bubble (b)"></button>
	<%- include('emoji-picker.html') %>
	<%- include('icon-picker.html') %>
	<h4 class="nomargin fit text-center ellipsis" style="writing-mode:vertical-rl;rotate:180deg;opacity:.2;">Freetalk Team</h4>
</div>